@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
.p1{
    color: blue;
    font-family: "Edu VIC WA NT Hand" , sans-serif;
}
.p2{
    color: red;
    font-family: "Monsieur La Doulaise" , sans-serif;
}